vs-box {
  display: block;
  min-height: 320px;
  padding: 52px 0;
  overflow: none;

  -webkit-perspective: 800;
}

.card {
  z-index: 5;
  margin: auto;

  width: 200px;
  height: 280px;

  outline: none;
  box-sizing: border-box;

  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

.card > div {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;

  -webkit-backface-visibility: hidden ;
}

.rank {
  width: 100%;
  text-align: center;
  position: absolute;

  top: 50%;
  margin-top: -10px;

  font-size: 37px;
  font-family: sans-serif;
}

.rank:before, .rank:after {
  position: absolute;
  font-size: 25px;
  top: -125px; left: 10px;
}

.rank:after{
  top: 125px; left: 165px;
}

.spade, .club {
  color: black;
}

.heart, .diamond {
  color: red;
}

.spade:before, .spade:after {
  content: "\2660";
}
.club:before, .club:after {
  content: "\2667";
}
.heart:before, .heart:after {
  content: "\2665";
}
.diamond:before, .diamond:after {
  content: "\2666";
}

.front {
  background: #fff;
  color: #7c7975;
  box-shadow: 0 0 3px 0 rgba(108,106,95,0.6);
  -webkit-transform: rotateY(0deg);
}

.back {
  background: #fff url(card-back.png);
  background-repeat: no-repeat;
  background-size: 180px 260px;
  background-position: 10px 10px;
  color: #454442;
  box-shadow: 0 0 3px 0 rgba(108,106,95,0.3);
  font-weight: bold;
  -webkit-transform: rotateY(-180deg);
}

.open {
  -webkit-transform: rotateY(0);
}

.open .back {
  -webkit-transform: rotateY(-180deg);
}
