vs-quiz {
  font-size: 20px;

  /* hint: set min-height to 100% for fullscreen experience */
  min-height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2em 0;
}

.quiz-header {
  display: block;
  vertical-align: middle;
  font-size: 2em;
  line-height: 2em;
  background: #fff;
}

.quiz-header label:empty:after {
  content: "Untitled quiz";
}

.start {
  display: block;
  margin: 3em auto;
  line-height: 2em;
  padding: 0 2em;
}

.started .start {
  display: none;
}

.result {
  display: none;
}

.completed .result {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 2em;
}

.reset {
  float: right;
}
.reset:after {
  content: "re-take";
  font-size: 20px;
  margin-right: 2em;
}
.started .reset {
  visibility: visible;
}

.quiz-header > output {
  float: right;
}

output:empty { content: "0"; }
output[ref="correct"] { color: green; }
output[ref="correct"]:before { content: "Correct answers:" ;}
output[ref="total"]:before { content: "/"; }

.questions:empty :after{
  content: "No questions to you, bro";
}

.question {
  position: absolute;
  left: -100%;
  top: 0;

  width: 100%;
  max-width: 450px;
  margin: 2em auto;

  z-index: 1;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);

  text-align: center;
  line-height: 2em;

  padding: 1.5em;
}

.question p {
  min-height: 8em;
}

.question p:empty:after{
  content: 'Untitled question';
}

.current {
  position: relative;
  display: block;

  left: 0;
  top: 0;
  background: white;
  z-index: 2;
}
